[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
djangorestframework = "*"
django-cors-headers = "*"
djoser = "*"

[dev-packages]

[requires]
python_version = "3.10"
