* {
    font-family: 'Markazi Text', 'Karla', serif;
}
body {
    margin: 0; /* removes white border around website*/
    padding: 0;
    margin-top: -22px;
}

menu {
    list-style: none;
    display: grid;
}

button {
    background-color: white;
    border: none;
}

.burger-icon {
    margin-top: 1.5rem;
}

a:visited, Link:visited, a:link, Link:link {
    text-decoration: none;
    color: black;
}

/* NAVBAR STYLING */
.navbar-menu {
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
}

.navbar-menu > li, .navbar-menu > a, .navbar-menu > Link {
    text-align: center;
}

.mobile {
    display: none;
}

.burger {
    display: none;
    grid-template-columns: 5fr 1fr;
}

.hover-effect:hover {
    background-color: #F4CE14;
    transition: 0.25s;
}

.nav-image {
    max-height: 4rem;
    margin-top: 0.7rem;
    margin-left: -1.25rem;
}

/* FOOTER STYLING */
footer {
    min-height: 13rem;
    background-color: #495E57;
    color: #FFFFFF;
    padding-bottom: 1rem;
}

footer > menu {
    grid-template-columns: repeat(4, 1fr);
}

.footer-header {
    margin-bottom: -1.25rem;
}

.footer-links {
    padding: 0;
    list-style: none;
}

.footer-links > a, .footer-links > Link, .footer-links > li {
    text-align: left;
    display: block;
    color: white;
    padding-top: 0.2rem;
    font-family: 'Karla', 'Sans Serif';

}

.footer-links > a:hover, .footer-links > Link:hover {
    background-color: #495E57;
    text-decoration: underline;
}

.img-footer {
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
}

.img-footer > img {
    max-height: 8rem;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-right: 3rem;

    background-color: white;
    padding: 0.5rem;
}


@media screen and (max-width: 600px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: grid;
        grid-template: auto auto auto auto auto auto auto / auto;
        align-items: center;
        padding-left: 0;
    }

    footer > menu {
        grid-template-columns: repeat(3, 1fr);
    }

    .contact {
        display: none;
    }

    .img-footer > img {
        margin-top: 0.5rem;

    }

    ul > * {
        font-size: 14px;
    }

    .burger {
        display: grid;
    }

    .burger > img {
        margin-top: 1.5rem;
        margin-left: 0.5rem;
    }
}
