* {
    font-family: 'Markazi Text', 'Karla', serif;
}

body {
    margin: 0; /* removes white border around website*/
    padding: 0;
    margin-top: -22px;
}

menu {
    list-style: none;
    display: grid;
}

button {
    background-color: white;
    border: none;
}

.burger-icon {
    margin-top: 1.5rem;
}

a:visited, Link:visited, a:link, Link:link {
    text-decoration: none;
    color: black;
}

/* NAVBAR STYLING */
.navbar-menu {
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
}

.navbar-menu > li, .navbar-menu > a, .navbar-menu > Link {
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.mobile {
    display: none;
}

.burger {
    display: none;
    grid-template-columns: 5fr 1fr;
}

.hover-effect:hover {
    background-color: #F4CE14;
    transition: 0.25s;
}

.nav-image {
    max-height: 4rem;
    margin-top: 0.7rem;
    margin-left: -1.25rem;
}

/* CALL TO ACTION */
.call-to-action {
    background-color: #495E57;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.25rem 4rem 1.2rem 4rem;
    margin-top: -1.4rem;
    min-height: 20rem;
}

.hero-text > h1 {
    font-size: 3rem;
    margin-bottom: -3rem;
}

.hero-text > h2 {
    font-size: 2.5rem;
}

.hero-image {
    max-height: 17rem;
    padding-left: 2rem;
}

.hero-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* SPECIALS */
.specials {
    padding: 2rem 4rem 2rem 4rem;
}

.specials-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;}

.menu-card {
    background-color: #EDEFEE;
    padding: 0 1rem 0 1rem;
    margin: 0 1rem 0 1rem;
}

.menu-card > img {
    max-height: 10rem;
    margin: 0 -1rem 0 -1rem;
}

.specials-carousel {
    display: none;
}

/* TESTIMONIAL CARDS */
.testimonial-cards {
    padding: 2rem 4rem 2rem 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    min-height: 10rem;
}

.testimonial-card {
    background-color: #EDEFEE;
    padding: 1rem 1rem 1rem 1rem;
    margin: 1rem 1rem 1rem 1rem;
}

.testimonials-carousel {
    display: none;
}

/* ABOUT */
.about-us {
    background-color: #F4CE14;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.25rem 4rem 1.2rem 4rem;
    min-height: 22rem;
    margin-bottom: -1rem;
}

.double-image {
    max-height: 18rem;
    position: relative;
    top: 4rem;
    left: 2rem;
}

.double-image > img {
    width: 60%;
    height: 100%;
    object-fit: cover;
}

.about-1 {
    position: relative;
    top: 0;
    left: 0;
}

.about-2 {
    position: absolute;
    top: -3.5rem;
    left: 5rem;
}

/* FOOTER STYLING */
footer {
    min-height: 13rem;
    background-color: #495E57;
    color: #FFFFFF;
    padding-bottom: 1rem;
}

footer > menu {
    grid-template-columns: repeat(4, 1fr);
}

.footer-header {
    margin-bottom: -1.25rem;
}

.footer-links {
    padding: 0;
    list-style: none;
}

.footer-links > a, .footer-links > Link, .footer-links > li {
    text-align: left;
    display: block;
    color: white;
    padding-top: 0.2rem;
    font-family: 'Karla', 'Sans Serif';

}

.footer-links > a:hover, .footer-links > Link:hover {
    background-color: #495E57;
    text-decoration: underline;
}

.img-footer {
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
}

.img-footer > img {
    max-height: 8rem;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-right: 3rem;

    background-color: white;
    padding: 0.5rem;
}

@media screen and (max-width: 60rem) {
    .specials-carousel {
        display: block;
    }

    .specials {
        display: none;
    }
}

@media screen and (max-width: 50rem) {
    .testimonials-carousel {
        display: block;
    }

    .testimonial-cards {
        display: none;
    }
}

/* MEDIA QUERIES*/
@media screen and (max-width: 600px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: grid;
        grid-template: auto auto auto auto auto auto auto / auto;
        align-items: center;
        padding-left: 0;
    }

    .call-to-action {
        margin: 0;
    }

    footer > menu {
        grid-template-columns: repeat(3, 1fr);
    }

    .contact {
        display: none;
    }

    .img-footer > img {
        margin-top: 0.5rem;

    }

    ul > * {
        font-size: 14px;
    }

    .burger {
        display: grid;
    }

    .burger > img {
        margin-top: 1.5rem;
        margin-left: 0.5rem;
    }
}
